* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

main {
    height: 90vh;
    display: grid;
}

.menu {
    display: grid;

    button{
        font-size: larger;
    }
}

.produto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 5px;
    margin: 10px;
    list-style: none;
    border: 2px solid #ccc;

    .descricao{
        display: grid;
        justify-content: space-between;
        align-items: start;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
        font-size: medium;
    }
}